{include file="nav/_header" /}
<div class="wrapper wrapper-content">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>添加定时任务 <small>请严格按照规定范围给时间值，超过会使命令失效，多个数值请用英文逗号分割</a></small></h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <form method="get" class="form-horizontal">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Command</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="command" id="command" value="{$crontabInfo.cmd}"> <span class="help-block m-b-none">🌰 &nbsp;&nbsp;<span style="color: orangered; font-size: 20px; font-family: 'Roboto', 'Lucida Sans', 'trebuchet MS', Arial, Helvetica  ">*/1 * * * * /data/wwwroot/spider/ test.php 选填参数 </span></span>
                                </div>
                                <input type="hidden" class="form-control" name="id" id="id" value="{$crontabInfo.id}"/>
                            </div>
                            <div class="hr-line-dashed"></div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">任务描述</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="info" id="info" value="{$crontabInfo.info}"> <span class="help-block m-b-none">列表页会根据这里的描述进行搜索</span>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">是否加锁</label>
                                <div class="col-sm-10">

                                    <div class="radio i-checks">
                                        {if $crontabInfo.is_lock == 1}
                                            <label>
                                                <input type="radio" value="1" name="lock" checked="checked"> <i></i> 是 </label>
                                            <label>
                                                <input type="radio" value="0" name="lock" > <i></i> 否</label>
                                        {else}
                                            <label>
                                                <input type="radio" value="1" name="lock" > <i></i> 是 </label>
                                            <label>
                                                <input type="radio" value="0" name="lock" checked="checked"> <i></i> 否</label>
                                        {/if}
                                    </div>

                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <div class="col-sm-4 col-sm-offset-2">
                                    <button type="button" class="btn btn-primary submit-crontab">确定修改任务</button>
                                    <button type="button" class="btn btn-default" onclick="history.back(-1);">返回</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</div>
</div>
</div>
{include file="nav/_footer" /}
<script>
    $(function () {
        $('.submit-crontab').click(function () {
            $.ajax({
                url: "{:url('admin/Crontab/edit')}",
                type: "post",
                data: $('form').serialize(),
                dataType: "JSON",
                success: function (data) {
                    if (data.code == 1) {
                        layer.msg(data.msg, {
                            icon: 6,
                            time: 2000
                        }, function () {
                            location.href = data.url;
                        });
                    } else {
                        layer.open({
                            title: '定时任务更新失败',
                            content: data.msg,
                            icon: 5,
                            anim: 6
                        });
                    }
                }
            });
            return false;
        });
    });
</script>
</body>
<!--  /Body -->
</html>
